html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
}

header {
  background-color: #CE95E5;
  margin: 0;
  padding-bottom: 1.5em;
}

img {
  width: 100%;
  padding-bottom: 1.8em;
}

.sisters {
  padding:1em;
}

p{
  padding-left:1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin:0;
  font-size: .9rem;
}

nav {
  width: 100%;
  margin: 0;
}

nav ol {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  margin: 0;
  width: 25%;
  text-align: center;
  list-style: none;
}

nav a {
  display: block;
  padding: 0.75em 0.75em 0.75em;
  margin: 3px;
  background-color: #E7EA71;
  color: black;
  text-decoration: none;
  border-radius: 3px;
  position: relative;
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0;
  line-height: 1.5;
}

li {
  font-weight: normal;
  font-size: .8rem;
  font-style: normal;
  font-family: 'Indie Flower', cursive;
  line-height: 1;
  margin:0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: pink;
  background-color: white;
}

.right{
  float: left;
  width: 50%;
  height: 100%;
}

.left{
  float: left;
  width: 50%;
  height: 100%;
}

h1{
  color: white;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  padding: 0;
  margin: 0;
  font-size: 2.5em;
}

h2{
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  text-align: center;
  padding-left: 1em;
  margin: 0;
}

h3{
  padding-left: 1em;
}

h5 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.location {
  background-color: #CE95E5;
  width: 50%;
  float: left;
}

.contact {
  background-color: #CE95E5;
  width: 50%;
  float: left;
}

.find-us {
  font-size: 1em;
}

.number {
  font-size: 1em;
}

footer {
  text-align: center;
  background-color: #E7EA71;
  padding: 1em;
  clear: both;
}

.right2{
  float: left;
  width: 50%;
  height: 100%;
  padding:0;
}

.left2{
  float: left;
  width: 50%;
  height: 100%;
  padding: 0;
}
